<section class="light edu" id="education">
    <h2>Education</h2>
    <div class="edu-info" style="filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));">
                    <h3>Certified Web Developer</h3>
                    <p class="large">Basic website building courses</p>
                    <p style="padding: 1rem 3rem 0;">2015</p>
                    <div class="block-wrap">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                    </div>
                    <h3>Certified Web Developer</h3>
                    <p class="large">Highly professional web development courses</p>
                    <p style="padding: 1rem 3rem 0;">2018</p>
                </div>
</section>
